


html {
	height: 100%;
	box-sizing: border-box;
	background-color: #0A0A0A;
}

body {
	background-color: #0A0A0A;
	height: 100%;
	overflow: visible;
}

a,
a:hover,
a:focus,
a:visited {
	color: #0A0A0A;
	text-decoration: none;
}

.wrapper {
	background-color: #0A0A0A;
	min-height: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin: 10px;
}

.left,
.center,
.right {
	margin: 10px;
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.center {
	flex: 4;
}

.right {
	flex: 5;
	display: flex;
	flex-direction: column;
}

.left>div,
.center>div,
.right>div {
	position: relative;
	padding: 10px;
}

.white {
	background-color: #E6E6DC;
}

.yellow {
	background-color: #D2A000;
}

.black {
	background-color: #0A0A0A;
}

.red {
	background-color: #A41004;
}

.blue {
	background-color: #0D1F75;
}

.l1 {
	flex: 8;
}

.l2,
.l4,
.l6,
.l8 {
	flex: 4;
}

.l3 {
	flex: 33;
}

.l5 {
	flex: 14;
}

.l7 {
	flex: 11;
}

.l9 {
	flex: 18;
}

.r1 {
	flex: 6;
	display: flex;
	justify-content: center;
	align-items: center;
}

.r2,
.r4,
.r6,
.r8 {
	flex: 2;
}

.r3 {
	flex: 15;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.r5 {
	flex: 27;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.r7,
.r9 {
	flex: 22;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.portrait-photo {
	margin-top: 5%;
	width: 90%;
	border: 5px solid #0A0A0A;
}

.credits-link:hover {
	text-decoration: underline;
}

h1,
h2,
h3 {
	color: #0A0A0A;
	line-height: 100%;
	margin: 0;
	font-family: 'Righteous', sans-serif;
}

h1 {
	font-size: 400%
}

h2 {
	font-size: 300%;
}

h3 {
	font-size: 200%;
}

h4 {
	font-size: 175%;
}

.bio-head {
	margin: 10% 0 5% 0;
}

.bio>p {
	padding: 1.5% 0 1.5% 0;
	line-height: 1.6;
}

.learn-more {
	padding: 10%;
	margin: 5% 0 5% 0;
}

.links {
	border: 3px;
	border-style: solid;
	border-color: #0A0A0A;
	margin-top: 4%;
}

.link {
	border: 2px;
	border-style: solid;
	border-color: #0A0A0A;
	margin: 0;
	display: block;
	color: #0A0A0A;
	background-color: #E6E6DC;
	padding: 5px 0 5px 0;
	text-decoration: none;
}

.link1:hover {
	background-color: #D2A000;
}

.link2:hover {
	background-color: #A41004;
	color: #E6E6DC;
}

.link3:hover {
	background-color: #0D1F75;
	color: #E6E6DC;
}

.rphotos {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.rphotos>figure {
	flex: 1;
	margin: 5px;
}

.rphoto {
	width: 100%;
	height: auto;
	border: 2px solid #0A0A0A;

}

figcaption {
	font-weight: bold;
}

@media (max-width: 500px) {
  .hidden-xxs {
    display: none !important;
  }
}
@media (max-width: 768px) {
	html, body {
		font-size: 75%;
	}
}
